@model Bakery.Models.ViewModels.ProductVM


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden/>
    <input asp-for="Product.ImageUrl" hidden />

    <div class="row">
        <div class="col-10">
            <fieldset class="border p-3 mt-4 row">
                <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Product.Name" class="form-label mt-4">Product Name</label>
                    <input asp-for="Product.Name" class="form-control" placeholder="Terimasu" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Flavor" class="form-label mt-4">Flavor</label>
                    <input asp-for="Product.Flavor" class="form-control" placeholder="Vanilla" />
                    <span asp-validation-for="Product.Flavor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Size" class="form-label mt-4">Size</label>
                    <input asp-for="Product.Size" class="form-control" placeholder="150" />
                    <span asp-validation-for="Product.Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Price" class="form-label mt-4">Price</label>
                    <input asp-for="Product.Price" class="form-control" placeholder="250" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Availability" class="form-label mt-4">Availability</label>
                    <input asp-for="Product.Availability" class="form-control" placeholder="3" />
                    <span asp-validation-for="Product.Availability" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.ImageUrl" class="form-label mt-4">ImageUrl</label>
                    <input type="file" id="uploadBox" name="file" class="form-control" placeholder="i.e. https//www.hey.com" />
                </div>
                <div class="form-group">
                    <label asp-for="Product.CategoryId" class="form-label mt-4">Category</label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    @if (Model.Product.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary">
                            Update &nbsp; <i class="bi bi-plus-circle"></i>
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" onclick="return ValidateInput()">
                            Create &nbsp; <i class="bi bi-plus-circle"></i>
                        </button>
                    }
                    <a asp-action="Index" class="btn btn-secondary">List</a>
                </div>

            </fieldset>
        </div>
        <div class="col-2 pt-4">
            <img src="@Model.Product.ImageUrl"
              width="100%" style="border-radius:5px; border:1px solid #bbb9b9"  />
        </div>
    </div>

    

    <hr />

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function ValidateInput()
        {
            if(document.getElementById("uploadBox").value=="")
            {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image',
                });
                return false;
            }
            return true;
        }
    </script>
}
   